<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="StringSetting1" value="FirstValue"/>
    <add key="StringSetting2" value="SecondValue"/>
    <add key="DateSetting1" value="04/01/2018" />
  </appSettings>
</configuration>